<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>terms</key>
	<string>pages/authenticator_terms</string>
	<key>FabricBuildSecret</key>
	<string>build_secret</string>
	<key>FabricApiKey</key>
	<string>fabric api key</string>
	<key>PRODUCTION</key>
	<dict>
		<key>rootURL</key>
		<string>https://www.saltedge.com</string>
		<key>support_email</key>
		<string>authenticator@saltedge.com</string>
	</dict>
	<key>STAGING</key>
	<dict>
		<key>rootURL</key>
		<string>https://www.saltedge.com</string>
		<key>support_email</key>
		<string>authenticator@saltedge.com</string>
	</dict>
</dict>
</plist>
