<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>549938991527-rs3eubiaaitgob6ugs3ac9ogoh7ffpns.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.549938991527-rs3eubiaaitgob6ugs3ac9ogoh7ffpns</string>
	<key>API_KEY</key>
	<string>AIzaSyCLQPoINwv8AajD-8iHi6xbGl_1MZmFMgY</string>
	<key>GCM_SENDER_ID</key>
	<string>549938991527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.saltedge.authenticator</string>
	<key>PROJECT_ID</key>
	<string>priora-authenticator</string>
	<key>STORAGE_BUCKET</key>
	<string>priora-authenticator.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:549938991527:ios:a4c5cc87f894931a</string>
	<key>DATABASE_URL</key>
	<string>https://priora-authenticator.firebaseio.com</string>
</dict>
</plist>